
.reg-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.reg-container h1 { text-align: center; }

.reg-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.reg-container input[type="text"],
.reg-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reg-container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.reg-container button[type="submit"]:hover { background-color: #0056b3; }
.validation-message { color: red; font-size: 0.9em; }

.product-img {
    max-height: 60px;
    width: auto;
}